<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{css/mustard-ui.min.css}">

    <title>Notes</title>
</head>
<body>
<header>
    <h1 class="title">Notes</h1>
    <h2 class="subtitle">Write your ideas not to forget this</h2>

    <a class="scroll-down" href="#"></a>
    <script>
        $(document).ready(function () {
            $('.scroll-down, .get-started').on('click', function (e) {
                e.preventDefault()
                $('html, body').animate({
                    scrollTop: $('section:first-of-type').offset().top
                }, 300)
            })
        })
    </script>


    <form th:action="@{/}" method="post">
        <div style="width: 300px">
            <div class="form-control">
                <input type="text" name="username" placeholder="Enter your login"/>
            </div>

            <div class="form-control">
                <input type="password" name="password" placeholder="Enter your password">
            </div>
            <div class="align-center">
            <div class="form-control" th:if="${param.error}">
                <p class="validation-error"> Invalid username and password.</p>
            </div>


                <button style="width: 300px" type="submit" class="button-primary button-large">Sign in</button>
            </div>
        </div>
    </form>
    <a style="margin-top: 10px; font-size: x-large" th:href="@{/registration}"> Create an account</a>

</header>

<section>

    <div class="stepper">
        <div class="step">
            <p class="step-number">1</p>
            <p class="step-title">Step Number One</p>
            <p>Sign in</p>

        </div>
        <div class="step">
            <p class="step-number">2</p>
            <p class="step-title">Step Number Two</p>
            <p>Create a new note</p>
        </div>
        <div class="step">
            <p class="step-number">3</p>
            <p class="step-title">Step Number Three</p>
            <p>Manage your notes</p>

        </div>
    </div>
</section>
<footer></footer>
</body>
</html>