<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/mustard-ui.min.css" th:href="@{/css/mustard-ui.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Notes</title>
</head>
<body>
<nav>
    <div class="nav-container">

        <button style="margin-bottom: 0px" class="button-primary button-shadow" onclick="openCreateForm()">New</button>
        <div class="nav-logo" th:text="'Your Notes: ' + ${username}">
        </div>
        <ul class="nav-links">
            <li>
                <a th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="row">
    <div class="col col-sm-2" th:each="noteFolder : ${note_folders}">
        <a th:href="@{/main/id/{folderid}(folderid=${noteFolder.getId()-1})}">
            <button class="button-primary button-shadow" th:text="${noteFolder.getTitle()}"></button>
        </a>
    </div>
    <form class="col col-sm-2" th:action="@{createfolder}" method="post">
        <button type="submit" class="button-primary button-shadow">Create new Folder</button>
    </form>
</div>

<section class="section-secondary">

    <div class="row">
        <div class="col col-md-6" th:each="note: ${notes}">
            <div class="card" th:id="${note.getId()}">
                <h3 class="card-actions" th:id="|title-${note.getId()}|" th:text="${note.getTitle()}">Title</h3>
                <h6 class="card-actions" th:text="${note.getDate()}">Date</h6>
                <p th:id="|text-${note.getId()}|" th:text="${note.getText()}">Text</p>
                <ul class="card-actions">
                    <li>
                        <button class="button-warning button-shadow" th:onclick="|openEditForm('${note.getId()}')|">
                            Edit
                        </button>
                    </li>
                    <li>
                        <form th:action="@{__${#httpServletRequest.requestURI}__/delete/{id}(id=${note.getId()})}"
                              method="post">
                            <button type="submit" class="button-danger button-shadow">Delete</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal" style="width: 500px">
        <div class="modal-content| card-actions" id="noteForm" style="display: none">
            <form id="form" method="post">
                <input type="text" id="title" name="title" placeholder="Enter title" value="Новая заметка" required>
                <textarea id="text" name="text" placeholder="Enter text" required></textarea>
                <button type="submit" class="button-primary">Create a new Note</button>
                <button style="float: right" type="button" class="button-danger" onclick="closeForm()">Cancel</button>
            </form>
        </div>
    </div>


</section>


<script>


    function openEditForm(id) {
        var form=document.getElementById("form");
        form.action+="/edit/"+id;
        document.getElementById("title").value=document.getElementById("title-"+id).innerHTML;
        document.getElementById("text").value=document.getElementById("text-"+id).innerHTML;
        document.getElementById("noteForm").style.display = "block";
    }


    function openCreateForm() {
        var form=document.getElementById("form");
        form.action="";
        document.getElementById("title").value="Новая заметка";
        document.getElementById("text").value="";
        document.getElementById("noteForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("noteForm").style.display = "none";
    }

</script>


</body>
</html>