<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" th:href="@{css/mustard-ui.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Notes</title>
</head>
<body style="background-color: #A8C1C9">
<nav>
    <div class="nav-container">

        <button style="margin-bottom: 0px" class="button-primary" onclick="openCreateForm()">New</button>
        <div class="nav-logo" th:text="'Your Notes: ' + ${username}">
        </div>
        <ul class="nav-links">
            <li>
                <a th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>


<section class="section-secondary" style="background-color: #A8C1C9">

    <div class="row">
        <div class="col col-md-6" th:each="note: ${notes}">
            <div class="card" th:id="${note.getId()}">
                <h3 class="card-actions" th:id="|title-${note.getId()}|"  th:text="${note.getTitle()}">Title</h3>
                <h6 class="card-actions" th:text="${note.getDate()}">Date</h6>
                <p th:id="|text-${note.getId()}|" th:text="${note.getText()}">Text</p>
                <ul class="card-actions">
                    <li>
                        <button class="button-warning" th:onclick="|openEditForm('${note.getId()}')|">Edit</button>
                    </li>
                    <li>
                        <form th:action="@{main/delete/{id}(id=${note.getId()})}" method="post">
                            <button type="submit" class="button-danger">Delete</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal" style="width: 500px">
        <div class="modal-content| card-actions" id="noteForm" style="display: none">
            <form id="form" th:action="@{/main}" method="post">
                <input type="text" id="title" name="title" placeholder="Enter title" value="Новая заметка" required>
                <textarea id="text" name="text" placeholder="Enter text" required></textarea>
                <button type="submit" class="button-primary">Create a new Note</button>
                <button style="float: right" type="button" class="button-danger" onclick="closeCreateForm()">Cancel</button>
            </form>
        </div>
    </div>


</section>


<script>

    function openEditForm(id) {
        var form=document.getElementById("form");
        form.action="/main/edit/"+id;
        document.getElementById("title").value=document.getElementById("title-"+id).innerText;
        document.getElementById("text").value=document.getElementById("text-"+id).innerText;
        document.getElementById("noteForm").style.display = "block";
    }


    function closeEditForm() {
        document.getElementById("editNoteForm").style.display = "none";
    }


    function openCreateForm() {
        var form=document.getElementById("form");
        form.action="/main";
        document.getElementById("noteForm").style.display = "block";
    }

    function closeCreateForm() {
        document.getElementById("noteForm").style.display = "none";
    }
</script>


</body>
</html>