<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" th:href="@{css/mustard-ui.min.css}">
    <title>Notes</title>
</head>
<body>
<nav>
    <div class="nav-container">
        <div class="nav-logo">
            Your Notes
        </div>
        <ul class="nav-links">
            <li><a th:href="@{/}">Logout</a></li>
        </ul>
    </div>
</nav>


<section class="section-secondary">

    <div class="row">
        <div class="col col-md-6">
            <div class="card">
                <h3 class="card-title">Title Date</h3>
                This is an example of a card. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est quasi ipsam
                sint alias, nemo. Dolore minus aliquid, modi debitis adipisci vel amet, sit officia placeat?
                <ul class="card-actions">
                    <li>
                        <button class="button-primary">Delete</button>
                    </li>
                    <li>
                        <button class="button-primary">Edit</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col col-md-6">
            <div class="card">
                <h3 class="card-title">Title Date</h3>
                This is an example of a card. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est quasi ipsam
                sint alias, nemo. Dolore minus aliquid, modi debitis adipisci vel amet, sit officia placeat?
                <ul class="card-actions">
                    <li>
                        <button class="button-primary">Delete</button>
                    </li>
                    <li>
                        <button class="button-primary">Edit</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


</body>
</html>